.mail__foto {
  width: 370px;
  height: 370px;
  border-radius: 50px;
  display: block;
}

@media screen and (max-width: 520px) {
  .mail__foto {
    width: 130px;
    height: 133px;
    border-radius: 20px;
  }
}