.collect-tour__form-submit-button {
  min-width: 235px;
  min-height: 58px;
  border: 0;
  border-radius: 10px;
  padding: 15px 30px;
  margin-right: 26px;
  background-color: #286562;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer;
}

.collect-tour__form-submit-button:hover {
  background-color: #3B7E7B;
}

.collect-tour__form-submit-button:active {
  background-color: #627F7E;
}

@media screen and (max-width: 780px) {
  .collect-tour__form-submit-button {
    min-width: 134px;
    min-height: 47px;
    font-size: 16px;
    line-height: 23px;
    margin-right: 5px;
    padding: 12px 29.5px;
  }
}