.header__find-button {
  min-width: 118px;
  min-height: 34px;  
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 0;
  color: #1B1F2B;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
}