.review-card__profile-name {
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  margin: 0;
}

@media screen and (max-width: 760px) {
  .review-card__profile-name {
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    padding-top: 16px;
  }
}