.gallery__container {
  padding: 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 301px);
  gap: 30px;
}

@media screen and (max-width: 1280px) {
  .gallery__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 300px);
    column-gap: 20px;
    row-gap: 31px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .gallery__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 18px;
  }
}

@media screen and (max-width: 450px) {
  .gallery__container {
    grid-template-rows: repeat(3, 110px);
  }
}