.collect-tour__form-select {
  height: 68px;
  border: 1px solid #F4F0E9;  
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer;
  color: #A6A6A6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: calc(100% - 21px) center !important;
  background: url('../../../images/dropdown-img.svg');
  background-repeat: no-repeat;  
  background-size: 26px 26px;
  background-color: #F9F7F4;
}

.collect-tour__form-select:hover {
  background-color: #F4F0E9;
}

.collect-tour__form-select:focus {
  outline: 1px solid #A6A6A6;
}