.tours-types__type {
  color: #1B1F2B; /**Для правильного отображения цвета в iOS**/
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.tours-types__type:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}