.header__subtitle {
  margin: 51px 0 50px;
  max-width: 562px;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .header__subtitle {
    max-width: 442px;
  }
}

@media screen and (max-width: 760px) {
  .header__subtitle {
    max-width: 310px;    
    margin: 40px 0;
  }
}