.choose-tour__menu {
  display: flex;
  flex-direction: row;
  gap: 31px;
  list-style-type: none;
  margin: 0 0 106px;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 520px) {
  .choose-tour__menu {
    gap: 10px;
    margin-bottom: 50px;
  }
}