.tour-card {
  width: 370px;
  min-height: 531px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #FFFFFF;
  padding: 50px 50px 43px;
  box-sizing: border-box;  
  cursor: pointer;
}

@media screen and (min-width: 1024px) {  
.tour-card:hover .tour-card__foto {
  transform: scale(1.2);
}

.tour-card:hover .tour-card__forward-button {
  background-color: #286562;
}

.tour-card:active .tour-card__forward-button {
  background-color: #EFA501;
}
}

@media screen and (max-width: 1280px) {
  .tour-card {
    width: 450px;
    min-height: 531px;
  }
}

@media screen and (max-width: 1023px) {
  .tour-card {
    width: 318px;
    min-height: 318px;
    border-radius: 20px;
    padding: 25px;
  }
}