.header__logo {
  min-width: 182px;
  min-height: 30px;
  background-image: url(../../../../images/logo-img.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 520px) {
  .header__logo {
    min-width: 133px;
    min-height: 22px;
  }
}