.header {
  background-image: url(../../images/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  padding-bottom: 119px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 520px) {
  .header {
    padding-bottom: 52px;
  }
}