.header {
  color: white;
  background-image: url(../../images/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 124px;
}