.choose-tour__card-forward-button {
  z-index: 2;
  min-width: 199px;
  min-height: 42px;
  padding: 7px 20px;
  border: 0;
  border-radius: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  color: #FFFFFF;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
  padding: 0;
  /* transform: translateX(-20px); */
  cursor: pointer;
}

/** Реализовал расположение кнопки без position absolute для предупреждение наложения текста карточки 
на текст кнопки при переполнении контейнера**/

@media screen and (max-width: 1023px) {
  .choose-tour__card-forward-button {
    min-width: 123px;
    min-height: 26px;
    font-size: 16px;
    line-height: 23px;
    
  }
}