.choose-tour {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 135px 0 82px;
}

@media screen and (max-width: 1280px) {
  .choose-tour {
    padding: 135px 53px 82px;
  }
}

@media screen and (max-width: 520px) {
  .choose-tour {
    padding: 75px 21px 22px;
  }
}