.footer__socials-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #1B1F2B;
  text-decoration: none;
  vertical-align: middle;
}

.footer__socials-link:hover {
  text-decoration: underline;
}

.footer__socials-link:active {
  color: #EFA501;
}

@media screen and (max-width: 520px) {
  .footer__socials-link {
    font-size: 16px;
    line-height: 23px;
  }
}