.choose-tour__card {
  width: 370px;
  min-height: 531px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  color: #FFFFFF;
  padding: 50px 50px 43px;
  box-sizing: border-box;  
  cursor: pointer;
}

.choose-tour__card:hover .choose-tour__card-foto {
  transform: scale(1.2);
}

.choose-tour__card:hover .choose-tour__card-forward-button {
  background-color: #286562;
}

.choose-tour__card:active .choose-tour__card-forward-button {
  background-color: #EFA501;
}