.choose-tour__card {
  min-width: 370px;
  min-height: 531px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #FFFFFF;
  padding: 50px;
  box-sizing: border-box;  
  cursor: pointer;
}

.choose-tour__card:hover .choose-tour__card-foto {
  transform: scale(1.2);
}

.choose-tour__card:hover .choose-tour__card-forward-button {
  background-color: #286562;
}