.review-card__profile {
  display: grid;
  grid-template-columns: 1fr 75px;
  grid-template-rows: auto auto;
  row-gap: 8px;
  margin-top: 70px;
}

@media screen and (max-width: 760px) {
  .review-card__profile {
    margin-top: 40px;
  }
}