.socials__icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: right center;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 520px) {
  .socials__icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}