.stories__card-list {
  margin: 28px 0 0;
  padding-left: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

@media screen and (max-width: 760px) {
  .stories__card-list {
    font-size: 16px;
    line-height: 23px;
    margin-top: 23px;
    padding-left: 24px;
  }
}