.choose-tour__menu-item_active {
  color: #EFA501;
  text-decoration: underline;
  text-underline-offset: 10px;
}

@media screen and (max-width: 520px) {
  .choose-tour__menu-item_active {
    text-underline-offset: 4px;
  }
}