.header__title {
  max-width: 768px;
  margin: 118px 0 0;
  font-size: 96px;
  font-weight: 700;
  line-height: 105px;
  letter-spacing: 0.02em;
  text-align: center;
}

@media screen and (max-width: 760px) {
  .header__title {
    max-width: 360px;
    font-size: 56px;
    line-height: 58px;
  }
}

@media screen and (max-width: 520px) {
  .header__title {
    margin-top: 51px;
    font-size: 34px;
    line-height: 38px;
  }
}