.gallery__container_row_first {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 301px;
  column-gap: 30px;
}

@media screen and (max-width: 1280px) {
  .gallery__container_row_first {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    column-gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .gallery__container_row_first {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: 200px;
    column-gap: 18px;
  }
}

@media screen and (max-width: 450px) {
  .gallery__container_row_first {
    grid-template-rows: 110px;
  }
}