.gallery__container_row_second {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 301px;
  gap: 30px;
  margin: 30px 0;
}



@media screen and (max-width: 1280px) {
.gallery__container_row_second {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px;
  column-gap: 20px;
}
}

@media screen and (max-width: 800px) {
  .gallery__container_row_second {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    gap: 10px;
  }
}

@media screen and (max-width: 450px) {
  .gallery__container_row_second {
    grid-template-rows: 110px;
    margin: 18px 0;
  }
}