.mail__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 43px;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .mail__title {
    max-width: 291px;
    font-size: 23px;
    line-height: 28px;
    margin: 0 auto;
    text-align: center;
  }
}