.stories {
  max-width: 1170px;
  padding: 135px 53px;
  margin: 0 auto;  
}

@media screen and (max-width:1024px) {
  .stories {
    padding-top: 136px;
  }
}

@media screen and (max-width: 520px) {
  .stories {
    padding: 75px 21px;
  }
}